#nav a {
    opacity: 0.55;
}

p, ul {
    margin-bottom: 1rem;
}

a.pic {
    overflow:hidden;
}

#main > .panel.intro .pic img {
    width: 145%;
    margin-left: -8rem;
    object-position: right 30%;
}

header p {
    color: #854b4b;
}

#footer {
    color: rgba(255, 255, 255, 0.9);
}

#main > .panel.intro header p.cta {
    margin-top: 2rem;
    margin-bottom: 0;
}