p, ul {
    margin-bottom: 1rem;
}

a.pic {
    overflow:hidden;
}

#main > .panel.intro .pic img {
    width: 145%;
    margin-left: -8rem;
    object-position: right 30%;
}

header p {
    color: #c78a8a;
}